.primary-button {
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 48px;

  font-size: var(--md);
  font-weight: bold;

  background-color: var(--hospital-green);
  color: var(--white);

  cursor: pointer;

  &:hover {
    border: 1px solid var(--dark);
  }
}