.SearchBar {
  display: flex;
  gap: 10px;
  align-items: center;

  border-radius: 10px;
  padding: 14px 12px;

  font-size: 16px;
  font-weight: lighter;

  background-color: var(--text-input-field);
  color: var(--dark);
}

.SearchBar:focus-within,
.SearchBar:hover {
  background-color: var(--text-input-field-darker);
}

.SearchBar__icon {
  width: 17px;
  height: 17px;
  background-image: url('@icons/search-icon.svg');
  cursor: pointer;
}

.SearchBar__input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}

.SearchBar__input::placeholder {
  color: var(--very-light-pink);
}

.SearchBar__input:focus-visible {
  outline: none;
}